<%- include('header') -%>

    <div class="container mt-5">
      <div class="row">
          <div class="col-8">
            <h1>Ingredients</h1>
          </div>
        <div class="col-4">
            <form>
                <div class="mb-3">
                  <label for="quantityInput" class="form-label">Quantity</label>
                  <input type="number" class="form-control" id="quantityInput" />
                </div>
            </form>
        </div>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Measurement</th>
              <th scope="col">Unit</th>
              <th scope="col">kcal</th>
              <th scope="col">Protein</th>
              <th scope="col">CarbonHidrates</th>
              <th scope="col">Fat</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <a href="/manual/123">Apple</a>
              </th>
              <td>kg</td>
              <td>1</td>
              <td>520</td>
              <td>3</td>
              <td>114</td>
              <td>2</td>
              <td>
                <a href="/manual/123" class="btn btn-success">ADD</a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    
<%- include('footer') -%>
