<%- include('header') -%>
    <div class="container mt-2">
      <div class="row">
        <h1>New Recipe</h1>
      </div>
      <div class="row">
        <div class="col-sm-4 col-0"></div>
        <div class="col-sm-4 col-12">
          <form>
            <div class="mb-3">
              <label for="ingredientNameInput" class="form-label">Name</label>
              <input type="text" class="form-control" id="ingredientNameInput" />
            </div>
            <div class="mb-3">
              <label for="measurementInput" class="form-label">Measurement</label>
              <input type="number" class="form-control" id="measurementInput" />
            </div>
            <div class="mb-3">
              <label for="unitInput" class="form-label">Unit</label>
              <input type="text" class="form-control" id="unitInput" />
            </div>
            <div class="mb-3">
                <label for="kcalInput" class="form-label">kCal</label>
                <input type="number" class="form-control" id="kcalInput" />
              </div>
              <div class="mb-3">
                <label for="proteinInput" class="form-label">Protein</label>
                <input type="number" class="form-control" id="proteinInput" />
              </div>
              <div class="mb-3">
                <label for="carbohydrateInput" class="form-label">carbohydrate</label>
                <input type="number" class="form-control" id="carbohydrateInput" />
              </div>
              <div class="mb-3">
                <label for="fatInput" class="form-label">Fat</label>
                <input type="number" class="form-control" id="fatInput" />
              </div>
            <a type="submit" class="btn btn-primary" href="ingredients.html">Submit</a>
            <a type="cancel" class="btn btn-secondary" href="ingredients.html">Cancel</a>
          </form>
        </div>
      </div>
    </div>

    <%- include('footer') -%>