<%- include('header') -%>
    <div class="container mt-2">
      <div class="row">
        <h1>New Recipe</h1>
      </div>
      <div class="row">
        <div class="col-sm-4 col-0"></div>
        <div class="col-sm-4 col-12">
          <form>
            <div class="mb-3">
              <label for="recipeNameInput" class="form-label">Name</label>
              <input type="text" class="form-control" id="recipeNameInput" />
            </div>
            <div class="mb-3">
              <label for="difficultyInput" class="form-label">Difficulty</label>
              <input type="text" class="form-control" id="difficultyInput" />
            </div>
            <div class="mb-3">
              <label for="timeInput" class="form-label">Time</label>
              <input type="text" class="form-control" id="timeInput" />
            </div>
            <a type="submit" class="btn btn-primary" href="/">Submit</a>
            <a type="cancel" class="btn btn-secondary" href="/">Cancel</a>
          </form>
        </div>
      </div>
    </div>

<%- include('footer') -%>
